version: "3.9"

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: open_dateaubase_db
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "StrongPwd123!"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    restart: unless-stopped

  api:
    build: .
    container_name: open_dateaubase_api
    env_file:
      - .env.docker
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: unless-stopped

volumes:
  mssql_data:
